@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body, input, textarea, select, button, table{  font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'NEXON Lv1 Gothic','맑은 고딕',dotum,'돋움',sans-serif; 
  color: #222; font-size: 13px; line-height: 1.5;}